# K-Nearest Neighbors
<ol>
    <li>Select number of neighbors (K) </li>
    <li>Calculate the euclidean distance between new point and all points in the data to select the K nearest Points</li>
    <li>Assign the new point to the class that has the most k nearest points</li>
</ol>

In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# reading the data
data = pd.read_csv('data/Social_Network_Ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
# gerneral exploration of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [4]:
# Get IV & DV
IV = data.iloc[:,2:4]
DV = data.iloc[:,-1]

In [5]:
# Scaling the IV Because the difference of range between Age & Estimated Salary
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
IV = scaler.fit_transform(IV)

In [6]:
# Split the Data into test & Train
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(IV,DV,test_size=.25,random_state=0)

In [7]:
# Build the model
# Most important paramters : (metric='minkowski',p=2) to make the neighbors based on Eculidean Dstance 
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)
classifier.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [8]:
y_pred = classifier.predict(x_test)

In [9]:
# Confusion matrix to evaluate the classifier
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[64,  4],
       [ 3, 29]], dtype=int64)

In [11]:
# classifier Report
from sklearn.metrics import classification_report
cr= classification_report(y_test,y_pred)
print(cr)

             precision    recall  f1-score   support

          0       0.96      0.94      0.95        68
          1       0.88      0.91      0.89        32

avg / total       0.93      0.93      0.93       100

# Done :)