# Support Vector Machine (SVM)
<ul>
    <li>Select the support vectors: nearest point from each class to another</li>
    <li>Maximum margine: classifier</li>
    <li>Positive Hyperplane : line is parrale to the maximum margine and on a support vector of class 0</li>
    <li>Negative Hypterplane : line is parrale to the maximum margine and on a support vector of class 1</li>
</ul>

In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# reading the data
data = pd.read_csv('data/Social_Network_Ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
# General explortion of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [4]:
# Get IV & DV
IV = data.iloc[:,2:4]
DV=data.iloc[:,-1]

In [5]:
# Scaling the IV because the difference of raange btween age and salary
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
IV = scaler.fit_transform(IV)

In [6]:
# Split Data into train & Test Model
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(IV,DV,test_size=.25,random_state=0)

In [7]:
# Build and fit the model
from sklearn.svm import SVC
classifier = SVC(kernel='linear',random_state=0)
classifier.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=0, shrinking=True,
  tol=0.001, verbose=False)

In [8]:
y_pred = classifier.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [9]:
# using confusion matrix for evaluating the classifier model
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[66  2]
 [ 8 24]]

In [10]:
# using classifier report for evaluating the classifier model
from sklearn.metrics import classification_report
cr = classification_report(y_test,y_pred)
print(cr)

             precision    recall  f1-score   support

          0       0.89      0.97      0.93        68
          1       0.92      0.75      0.83        32

avg / total       0.90      0.90      0.90       100

# Done :)